* {
	margin:0;
	padding:0;
	border:0;
	text-decoration:none;
}

img.responsive {
	max-width:100%;
	height:auto;
}

.row {
	display:block;
	width:100%;
	overflow:hidden;
}

.row [class^="span"],.row [class*=" span"],.row [class^="col"],.row [class*=" col"] {
	float:left;
}

.inline [class^="span"],.inline [class*=" span"],.inline [class^="col"],.inline [class*=" col"],ul.inline li,div.inline * {
	display:inline-block;
}

.vertical-middle {
	vertical-align:middle;
}

.vertical-top {
	vertical-align:top;
}

.vertical-bottom {
	vertical-align:bottom;
}

.animate {
	transition:all .3s ease-in-out;
	-webkit-transition:all .3s ease-in-out;
	-moz-transition:all .3s ease-in-out;
	-o-transition:all .3s ease-in-out;
}

.animate5 {
	transition:all .5s ease-in-out;
	-webkit-transition:all .5s ease-in-out;
	-moz-transition:all .5s ease-in-out;
	-o-transition:all .3s ease-in-out;
}

.animate8 {
	transition:all .8s ease-in-out;
	-webkit-transition:all .8s ease-in-out;
	-moz-transition:all .8s ease-in-out;
	-o-transition:all .8s ease-in-out;
}

.round-corners {
	border-radius:3px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	-o-border-radius:3px;
}

.round-corners5 {
	border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	-o-border-radius:5px;
}

.round-corners10 {
	border-radius:10px;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	-o-border-radius:10px;
}

.block {
	display:block;
}

.span1 {
	width:6.3%;
	margin:1%;
}

.span2 {
	width:14.6%;
	margin:1%;
}

.span3 {
	width:23%;
	margin:1%;
}

.span4 {
	width:31.3%;
	margin:1%;
}

.span5 {
	width:39.6%;
	margin:1%;
}

.span6 {
	width:48%;
	margin:1%;
}

.span7 {
	width:56.3%;
	margin:1%;
}

.span8 {
	width:64.6%;
	margin:1%;
}

.span9 {
	width:73%;
	margin:1%;
}

.span10 {
	width:81.3%;
	margin:1%;
}

.span11 {
	width:89.6%;
	margin:1%;
}

.span12 {
	width:98%;
	margin:1%;
}

.col2 {
	width:48%;
	margin:1%;
}

.col3 {
	width:31%;
	margin:1%;
}

.col4 {
	width:23%;
	margin:1%;
}

.col5 {
	width:18%;
	margin:1%;
}

.col6 {
	width:14.6%;
	margin:1%;
}

.float-right {
	float:right;
}

.float-left {
	float:left;
}

.center {
	text-align:center;
}

.left {
	text-align:left;
}

.right {
	text-align:right;
}

.justify {
	text-align:justify;
}

.field {
	display:block;
	margin: 0 0 20px 0;
}

.field input[type="text"],.field input[type="file"],.field input[type="tel"],.field input[type="username"],.field input[type="password"],.field select {
	line-height:30px;
	height:36px;
	padding:3px;
	background-color:#27b4b4;
	border:0;
	width:98%;
	color:#fff;
	-webkit-appearance:none;
}

.field .select{
	position:relative;
	width: 98%;
}

.field .select select{
	background: url(../img/selectbg.png) no-repeat 98% 50%;
	background-color:#27b4b4;
}

.field .select select{
	width:100% !important;
}

.field label,.field p.label {
	display:inline-block;
	vertical-align:middle;
	line-height:20px;
	font-size:14px;
	text-transform:uppercase;
	margin:0 0 5px 0;
}

.field .checkbox input[type="checkbox"] {
	display:none;
}
.field .checkbox input[type="checkbox"] + label {
	display:inline-block;
	vertical-align:middle;
	line-height:20px;
	height:22px;
	width:40px;	
	background: url(../img/checkbox.png) no-repeat -31px center #fff;
	border:1px solid #27b4b4;
	border-radius:20px;
	-webkit-border-radius:20px;
	-moz-border-radius:20px;
	-ms-border-radius:20px;
	-o-border-radius:20px;
	-webkit-appearance:none;
	transition:all .3s ease-in-out;
	-webkit-transition:all .3s ease-in-out;
	-moz-transition:all .3s ease-in-out;
	-ms-transition:all .3s ease-in-out;
	-o-transition:all .3s ease-in-out;
}

.field .checkbox input[type="checkbox"]:checked + label {
	background: url(../img/checkbox.png) no-repeat -50px center #27b4b4;
}

.field ::-webkit-input-placeholder {
	color:#fff;
}

.field :-moz-placeholder {
	color:#fff;
}

.field ::-moz-placeholder {
	color:#fff;
}

.field :-ms-input-placeholder {
	color:#fff;
}

.field i.description{
	display:block;
	font-size:12px;
	font-style:italic;
}

.icon-input {
	position:relative;
	width:98%;
}

.icon-input input {
	width:100%!important;
}

.icon-input .icon-box-left {
	position:absolute;
	line-height:30px;
	top:0;
	left:0;
	width:30px;
	display:block;
	text-align:center;
	font-size:25px;
	padding:3px;
	border-right:1px solid #fff;
	color:#fff;
}

.icon-input .icon-box-left .fa,.icon-input .icon-box-right .fa{
	line-height:33px;
}

.icon-input .icon-box-left + input {
	padding-left:40px;
}

.icon-input .icon-box-right {
	position:absolute;
	line-height:30px;
	top:0;
	right:0;
	width:30px;
	display:block;
	text-align:center;
	font-size:25px;
	padding:3px;
	border-left:1px solid #fff;
	color:#fff;
}

.icon-input .icon-box-right + input {
	padding-right:40px;
}

.field .file{width:100%;position:relative;overflow:hidden;}
.field .file input{padding-right:75px;width:100%;}
.field .file .btn-upload{cursor:pointer;position:absolute;top:1px;right:33px;margin:0;line-height:34px;background:none;padding:0;text-align:center;color:#fff;border:1px solid transparent;border-left:1px solid #fff;border-radius:0;width:34px;font-size:25px;transition:all .3s ease-in-out;-webkit-transition:all .3s ease-in-out;-moz-transition:all .3s ease-in-out;-o-transition:all .3s ease-in-out;-ms-transition:all .3s ease-in-out;}
.field .file .btn-remove{cursor:pointer;position:absolute;top:1px;right:0;margin:0;line-height:34px;background:none;padding:0;text-align:center;color:#fff;border:1px solid transparent;border-left:1px solid #fff;border-radius:0;width:34px;font-size:25px;transition:all .3s ease-in-out;-webkit-transition:all .3s ease-in-out;-moz-transition:all .3s ease-in-out;-o-transition:all .3s ease-in-out;-ms-transition:all .3s ease-in-out;}
.field .file .btn-upload:hover,.field .file .btn-remove:hover{background:#fff;color:#27b4b4;border:1px solid #27b4b4;}
.field input.empty{
	background-color:#666 !important;
	transition:all .5s ease-in-out;
	-webkit-transition:all .5s ease-in-out;
	-moz-transition:all .5s ease-in-out;
	-o-transition:all .5s ease-in-out;
}

.field .radio{
	display:block;
	overflow:hidden;
}

.field .radio > input[type="radio"] {
	display:none;
}

.field .radio > input[type="radio"] + label {
	float:left;
	display:block;
	padding:10px 20px;
	background:#f5f5f5;
	border:1px solid #ddd;
	border-right:0;
	transition:all .3s ease-in-out;
	-webkit-transition:all .3s ease-in-out;
	-moz-transition:all .3s ease-in-out;
	-ms-transition:all .3s ease-in-out;
	-o-transition:all .3s ease-in-out;
}

.field .radio > input[type="radio"] + label:last-child {
	border-right:1px solid #ddd;
}

.field .radio > input[type="radio"] + label:hover{
	background:#666;
	color:#fff;
	text-shadow:0 1px #000;
	border-top:1px solid #666;
	border-bottom:1px solid #666;
}

.field .radio > input[type="radio"]:checked + label {
	background: #27b4b4;
	border-top:1px solid #27b4b4;
	border-bottom:1px solid #27b4b4;
	color:#fff;
	text-shadow:0 1px #27b;
}

.field .color{
	width:98%;
	display:block;
}

.field .color .minicolors, .minicolors-input{
	width:100% !important;
}

.field .color .minicolors-input{
	padding-left:40px;
}

.field .color .minicolors-swatch{
	top:1px !important;
	left:1px !important;
	height:34px !important;
	width:34px !important;
}

.field .icon {
	position:relative;
	display:block;
}

.field .icon input[type="text"] {
	width:100%;
	border:0;
	
}

.field .icon .btn{
	display:block;
	float:left;
	width:50%;
	box-sizing: border-box;
	text-align:center;
	padding:10px;
	line-height:100%;
	font-size:18px;
}

.field .icon .hide-icons {
	background:#eee;
	color:#27b4b4;
}

.field .icon .show-icons {
	background:#f5f5f5;
	color: #27b4b4;
}

/* Admin Typography */
@font-face {
	font-family: 'DistrictPro';
	src: url('../../fonts/DistProTh.otf');
}
.vg {
	font-family: 'DistrictPro', 'HelveticaNeue', 'Helvetica', 'arial', sans-serif;
}

.vg h2 {
	margin:0 0 30px;
	display:block;
	font-weight:300;
	font-size:22px;
	line-height:30px;
	color:#444;
	letter-spacing:1px;
}

.vg h3 {
	margin:15px 0;
	color:#666;
	font-weight:100;
	letter-spacing:1px;
}

/* Admin Layout For theme option */
.vg-btn .button-primary {
	background:#27b4b4;
	border:0;
	border-radius:0;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	-o-border-radius:0;
	-ms-border-radius:0;
	padding:10px 20px;
	height:auto;
	text-transform:uppercase;
	margin:10px;
}

.vg-btn-white .button-primary {
	background:#fff;
	color:#27b4b4;
	border:0;
	border-radius:0;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	-o-border-radius:0;
	-ms-border-radius:0;
	padding:10px 20px;
	height:auto;
	text-transform:uppercase;
	margin:10px;
}
.button-primary {
	transition:all .3s ease-in-out;
	-webkit-transition:all .3s ease-in-out;
	-moz-transition:all .3s ease-in-out;
	-ms-transition:all .3s ease-in-out;
	-o-transition:all .3s ease-in-out;
}

.button-primary:hover {
	background:#666 !important;
	color:#fff !important;
	text-shadow:0 1px #000 !important;
}

p.submit,.submit {
	padding:0;
	margin:0;
}

#vg-theme-options-page {
	background:#27b4b4;
	margin-left:-20px;
	padding:20px;
}

.vg-logo {
	background:#f6f6f6;
	margin-bottom:0;
	margin-right:0;
}

.vg-head {
	margin-bottom:0;
	margin-left:0;
}

.vg-title h1 {
	color:#fff;
	font-size:36px;
	text-align:center;
	text-shadow:-1px 0 1px #27b;
	text-transform:uppercase;
	font-weight:300;
}

.vg-nav ul {
	background:#f6f6f6;
}

.vg-nav li {
	display:block;
	line-height:30px;
	border:1px solid #ccc;
	margin:0;
	margin-bottom:-1px;
}

.vg-nav li.active {
	border-right:1px solid transparent;
	border-left:1px solid transparent;
	background:#fff;
}

.vg-nav a {
	text-transform:uppercase;
	color:#666;
	font-size:14px;
	padding:5px 0;
}

.vg-nav a .fa {
	width:40px;
}

.vg-nav li.active a,.vg-nav a:hover {
	color:#27b4b4;
	letter-spacing:2px;
}

.vg-left-col {
	margin-right:0;
	margin-top:0;
}

.vg-theme-options {
	border-top:1px solid #ccc;
	margin-left:0;
	background:#fff;
	margin-top:0;
}

.vg-tab {
	padding:10px;
}
.header-layout{
	padding:5px;
}
.radio.header-layout input[type="radio"] +label{
	padding:15px 0 !important;
	background:#fff;
	display:block;
	border:1px solid #ccc !important;
	opacity:.6;
}

.radio.header-layout input[type="radio"] +label:hover,.radio.header-layout > input[type="radio"]:checked + label{
	background:#27b4b4;
	display:block;
	border:1px solid #ccc !important;
	color:#27b4b4;
	text-shadow:none;
	opacity:1;
}
.radio.header-layout [class^="span"] {
	margin:0 1%;
}

.header-layout span{
	padding:10px 0;
	border-top:1px solid #ccc;
	border-bottom:1px solid #ccc;
	background:#fff;
}